.main-container {
    background: #8c8c8c; 
    min-height: 90vh;
    min-width: 100%;
    overflow-x: auto;
    gap: 2rem;
}

.main-content {
    margin-top: 12px;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.add-list {
    background: #b38600;
    cursor: pointer;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 15%;
    margin-left:1010px;
    margin-top: 12px;
    box-shadow: rgb(1, 12, 22) 0px 8px 24px;
}
.add-list:hover{
    background: #f2f2f2;
    color: black;
}

@media screen and (max-width: 875px) {
    .main-content {
        flex-direction: column;
        gap: 3rem;
    }
}

@media screen and (max-width: 475px) {
    .main-content {
        padding: 0.8rem;
        gap: 2rem;
    }
}