.signup {
    max-width: 400px;
    padding: 28px;
    margin: 55px auto 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background:  white;
    border-radius: 20px;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px;
}

.signup-form div label {
    font-size: 0.9rem;
    font-weight: 700;
}

.signup-form div { margin-bottom: 10px; }

.signup-form .user-confirm__password { margin-bottom: 20px; }

.user-exists {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.signup-input {
    width: 100%;
    border-radius: 8px;
    background: #dfdfe0;
    border: none;
    padding: 10px;
    margin-top: 5px;
    text-indent: 6px;
    font-size: 0.5rem;
}

.signup-input::placeholder { font-size: 13px; }

.signup-input:focus {
    outline: none;
    border: 1px solid #669999;
}

.signup-btn {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    background:#669999;
    color: white;
}

.signup-btn:hover { background:#334d4d; }

.signup footer {
    margin-top: 40px;
    text-align: center;
}

.signup footer small span { font-weight: 700; }

@media screen and (max-width: 375px) {
    .signup {
        margin-top: 25px;
        padding: 18px;
    }

    .section-title {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .signup-input {
        padding: 9px;
        margin-bottom: 30px;
    }

    .signup-input::placeholder { font-size: 12px; }

    .signup-btn { padding: 9px;}
}