.signup {
    max-width: 540px;
    padding: 28px;
    margin: 20px auto 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background:  white;
}

.signup-title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 40px;
}

.signup-form div label {
    font-size: 0.9rem;
    font-weight: 700;
}

.signup-form div { margin-bottom: 10px; }

.signup-form .user-confirm__password { margin-bottom: 20px; }

.user-exists {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.signup-input {
    width: 100%;
    border-radius: 8px;
    background: #dfdfe0;
    border: none;
    padding: 10px;
    margin-top: 5px;
    text-indent: 6px;
    font-size: 0.8rem;
}

.signup-input::placeholder { font-size: 13px; }

.signup-input:focus {
    outline: none;
    border: 1px solid var(--greenish-2);
}

.signup-btn {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    background: var(--greenish-1);
    color: white;
}

.signup-btn:hover { background: var(--greenish-2); }

.signup footer {
    margin-top: 40px;
    text-align: center;
}

.signup footer small span { font-weight: 700; }

@media screen and (max-width: 375px) {
    .signup {
        margin-top: 25px;
        padding: 18px;
    }

    .signup-title {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .signup-input {
        padding: 9px;
        margin-bottom: 30px;
    }

    .signup-input::placeholder { font-size: 12px; }

    .signup-btn { padding: 9px;}
}