.forgot-password {
    max-width: 540px;
    padding: 28px;
    margin: 80px auto 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background:  white;
    border-radius: 16px;
}

.forgot-password .section-title {
    font-size: 2rem;
    margin-bottom: 16px;
}

.forgot-password p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 32px;
}

.forgot-psw__form label {
    display: block;
    font-weight: 700;
}

.forgot-psw__form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #dfdfe0;
    border: none;
    padding: 10px;
    margin-top: 5px;
    text-indent: 6px;
    font-size: 0.8rem;
}

.forgot-psw__form input::placeholder { font-size: 13px; }

.forgot-psw__form input:focus {
    outline: none;
    border: 1px solid var(--greenish-2);
}

.forgot-psw__btn {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    background: var(--greenish-1);
    color: white;
    margin-bottom: 40px;
}

.forgot-psw__btn:hover { background: var(--greenish-2); }

.forgot-psw__form small {
    display: block;
    text-align: center;
    font-weight: 700;
}

.bx-arrow-back {
    margin-right: 10px;
}