:root {
  --greenish-1: hsl(98, 65%, 55%);
  --greenish-2: hsl(98, 40%, 58%);
}

*, *::before, *::after  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Arvo', serif;
}
  
a {
  color: inherit;
  text-decoration: none;
}
  
li { list-style: none; }
  
img, picture, video, canvas, svg {
  display: block;
}
  
input, button, textarea, select, address {
  font: inherit;
}
  
button {
  cursor: pointer;
  border: none;
}
  
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
  
/* ::selection {
  
} */