.card {
    max-width: 230px;
    height: 150px;
    padding: 10px;
    border-radius: 0.5rem;
    background: #00ff80;
    box-shadow: rgba(11, 16, 21, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blue { background: #4299E1; }

.green { background: #48BB78; }

.red { background: #F56565; }

.yellow { background: #ED8936; }

.purple { background: #805AD5; }

.pink { background: #D53F8C; }

.orange { background: #DD6B20; }

.card .bxs-trash {
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 1rem;
    opacity: 0;
    cursor: pointer;
}

.card .show-trash { opacity: 1; }

.card textarea {
    resize: none;
    font-weight: bold;
    border: none;
    background: inherit;
    outline: none;
    padding: 10px 0px;
}

.save-btn {
    background: #2D3748;
    color: #A0AEC0;
    padding: 3px 10px;
    border-radius: 0.5rem;
    margin-top: 25px;
}

.save-btn:hover { color: white; }

@media screen and (max-width: 768px) {
    .card {
        max-width: 260px;
    }
    
    .save-btn { margin-top: 0px;}
}

@media screen and (min-width: 768px) {
    .card .bxs-trash {
        top: 6px;
        right: 8px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 475px) {
    .card {
        font-size: 0.75rem;
        max-height: 120px;
    }
}