.card {
    max-width: 220px;
    height: 110px;
    padding: 4px 10px;
    border-radius: 0.5rem;
    background: #996633;
    color: white;
    box-shadow: rgba(69, 77, 84, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
    position: relative;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blue { background: #4299E1; }

.green { background: #48BB78; }

.red { background: #F56565; }

.yellow { background: #ED8936; }

.purple { background: #805AD5; }

.pink { background: #D53F8C; }

.orange { background: #DD6B20; }

.card .bxs-trash {
    position: absolute;
    top: 4px;
    right: 20px;
    font-size: 1rem;
    opacity: 0;
    cursor: pointer;
}

.card .show-trash { opacity: 1; }

.card textarea {
    resize: none;
    font-weight: semi-bold;
    border: none;
    background: inherit;
    outline: none;
    padding: 2px 18px 2px 6px;
    width: 200px;
    color: white;
}

.card textarea::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

.card textarea::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #2D3748;
}

.save-btn {
    background: white;
    color: black;
    padding: 2px 10px;
    border-radius: 0.5rem;
    margin-top: 25px;
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.save-btn:hover { color: black; }

@media screen and (max-width: 768px) {
    .card {
        max-width: 200px;
        font-size: 0.85rem;
    }

    .card textarea {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .save-btn { margin-top: 0px;}

    .card .bxs-trash {
        top: 4px;
        right: 10px;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 475px) {
    .card {
        font-size: 0.75rem;
        max-height: 100px;
    }
}