.task-container { text-align: center; }

.task-content {
    min-width: 270px;
    padding: 20px;
    background: #170722;
    border-radius: 8px;
    height: 90vh;
    overflow-y: auto;
}

.task-title {
    font-size: 0.9rem;
    margin-bottom: 20px;
    width: max-content;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    font-weight: 700;
    position: relative;
}


.task-title .bxs-trash {
    position: absolute;
    top: 2px;
    right: -20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.task-title .input {
    outline: none;
    border: none;
    color: #9AE6B4;
    background: rgba(154, 230, 180, 0.16);
}

.task-title .input::placeholder { color: #9AE6B4; }

.add {
    background: #2D3748;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 6px;
    color: #A0AEC0;
    font-size: 1rem;
    font-weight: semibold;
}

@media screen and (max-width: 875px) {
    .task-content {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        height: 60vh;
    }

    .add {
        width: 60%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    .task-container { max-width: 700px; }

    .task-content {
        overflow-x: auto;
        height: 30vh;
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        min-width: 286px;
    }
}

@media screen and (max-width: 475px) {
    .task-content { padding: 10px; }
}